# Node
node_modules/
dist/
.env

# Vite
.vite/

# .NET
bin/
obj/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.user
*.suo

# Ignore uploaded files
wwwroot/uploads/
/Backend/ReporitorySystem/ReporitorySystem/wwwroot/uploads/1fff6d82-77b1-4b04-a6a5-c79910016c24.pdf
